.header.header-white
    .header-list
        -if current_user
            %li#name
                = link_to 'Karis', '/'
            %li.c59c9c
                = link_to 'Top Chords', '/'
            %li
                = link_to 'Favorites', '/favorites'
            %li
                = link_to "My Account", '/my_account'
            %li
                = link_to "Sign out", destroy_user_session_path, :method => :delete 

        -else
            %li#name
                = link_to 'Karis', '/'
            %li
                = link_to 'Top Chords', '/'
            %li
                = link_to 'Favorites', '/'
            %li.c59c9c
                = link_to 'Sign In', '/users/sign_in'


