.header.header-white
	.header-list
		%li#name
			= link_to 'Karis', '/'
		%li
			= link_to 'Top Chords', '/'
		%li
			= link_to 'Favorites', '/'
		%li
			= link_to 'Sign In', '/'

.section_index.section_normal-height.section_vertical-align-middle
	.container_index
		.title_big
			Thousands of songs are just a search away.

		=form_tag(main_index_path, method: :get) do
			=text_field_tag :search, "", class: 'search-field', placeholder: "Search for your favorite song or artist..."
			=button_tag 'GO!' , class: 'search-button' , type: :submit


.footer.footer-white
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'
