<%= render "main/header" %>

<div class="title_big title_user">Edit <%= resource_name.to_s.humanize %></div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "(leave&nbsp;blank&nbsp;if&nbsp;you&nbsp;don't&nbsp;want&nbsp;to&nbsp;change&nbsp;it)".html_safe, required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "(We&nbsp;need&nbsp;your&nbsp;current&nbsp;password&nbsp;to&nbsp;confirm&nbsp;your&nbsp;changes)".html_safe, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Update', :class => 'form-submit' %>
  </div>
<% end %>

<h3>Unhappy?</h3>

<p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
