<%= render "main/header" %>

<div class="title_big title_user">Sign up</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("(#{@minimum_password_length}&nbsp;characters&nbsp;minimum)".html_safe if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Sign-in', :class => 'form-submit' %>
  </div>
<% end %>

<h3>Already have an account?</h3>

<%= render "devise/shared/links" %>
