.header.header-white
	.header-list
		%li#name
			= link_to 'Karis', '/'
		%li
			= link_to 'Top Chords', '/'
		%li
			= link_to 'Favorites', '/'
		%li
			= link_to 'Sign In', '/'

.title_big
	Submit New Chords

	.subtitle
		Add your favorite song on Karis!


.container.section_no-top-padding
	= render 'form'

.footer
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/'
			%li.footer-list-item
				= link_to 'Blog', '/'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'
				