%p
	%b Title:
	= @chord.title
%p
	%b Artist:
	= @chord.artist.full_name 
%p
	%b Uploaded by:
	= @chord.user.full_name

%pre

	= preserve do
		= @chord.content

:javascript
	$(document).ready(function() {
		var new_content = ChordsUtils.updateContent($("pre").text(), #{@valid_chords});
		$("pre").html(new_content)
	});