= content_for(:title, @chord.title "by" @chord.artist.full_name)

.chord-body	
	.chord-content
		.header
			.header-list
				%li#name
					= link_to 'Karis', '/'
				%li
					= link_to 'Top Chords', '/'
				%li
					= link_to 'Favorites', '/'
				%li
					= link_to 'Sign In', '/'

		.section_search
			=form_tag(main_index_path, method: :get) do
				=text_field_tag :search, "", class: 'search-field-black', placeholder: "I think you need to search for an easier song..."
				=button_tag 'GO!' , class: 'search-button-black' , type: :submit

		.section_top
			.info
				.title
					= @chord.title
				.artist
					= @chord.artist.full_name 
				.uploader
					Uploader: FIX IN PROGRESS
					=# = @chord.user.full_name

			.functions
				.transpose
					%ul
						%ul.function-text
							Favorite
						%ul.transpose-item#transpose-item
							.icon-container
								=image_tag "favorite.png", class: "icon"
						%ul.function-text
							Transpose
						%ul.transpose-up#transpose-item
							.icon-container
								=image_tag "up-arrow.png", class: "icon"
						%ul.transpose-down#transpose-item
							.icon-container
								=image_tag "down-arrow.png", class: "icon"
						%ul.function-text
							Font-size
						%ul.transpose-plus#transpose-item
							.icon-container
								=image_tag "plus.png", class: "icon"
						%ul.transpose-minus#transpose-item
							.icon-container
								=image_tag "minus.png", class: "icon"


		.main
			.chordsLeft
				%pre
					= preserve do
						= @chord.content

		.footer.footer-chord
			.footer-container
				.footer-logo

				%ul.footer-list
					%li.footer-list-item
						= link_to 'About', '/about'
					%li.footer-list-item
						= link_to 'Blog', '/blog'
					%li.footer-list-item
						= link_to 'Submit', '/chords/new'

:javascript
	$(document).ready(function() {
		var new_content = ChordsUtils.updateContent($("pre").text(), #{@valid_chords});
		$("pre").html(new_content);
	});