= content_for(:title, @chord.title + " by " + @chord.artist.name + " @ ")

.chord-body
	=render "main/header-black"

	.chord-content
		.section_search
			=form_tag(main_index_path, method: :get) do
				=text_field_tag :search, "", class: 'search-field-black', placeholder: "I think you need to search for an easier song..."
				=button_tag 'GO' , class: 'search-button-black' , type: :submit

		.section_top
			.info
				.title
					= @chord.title
				.artist
					= @chord.artist.name
				.uploader
					= @chord.user.full_name
				.video_url
					= link_to "Click here for the link to the video", @chord.video_url, target: "_blank"

			.functions
				.transpose
					= hidden_field_tag 'chord_id', @chord.id
					%ul
						-if current_user
							-if @chord.is_favorited(current_user)
								%ul.favorites.function-text
									Un-Favorite
								%ul.favorites.transpose-is-favorited#transpose-item
									.icon-container-favorite
										=image_tag "favorite.png", class: "icon"
							-else
								%ul.favorites.function-text
									Favorite
								%ul.favorites.transpose-is-favorited#transpose-item
									.icon-container-favorite
										=image_tag "favorite.png", class: "icon"
						-else
							%ul.favorites.function-text
								Favorite
							%ul.favorites.transpose-is-favorited#transpose-item
								= link_to "/users/sign_in", :class => "icon-container-favorite" do
									= image_tag "favorite.png", :class => "icon"


						%ul.function-text
							Transpose
						%ul.transpose-up#transpose-item
							.icon-container
								=image_tag "up-arrow.png", class: "icon"
						%ul.transpose-down#transpose-item
							.icon-container
								=image_tag "down-arrow.png", class: "icon"

						%ul.function-text
							Font-size
						%ul.transpose-plus#transpose-item
							.icon-container
								=image_tag "plus.png", class: "icon"
						%ul.transpose-minus#transpose-item
							.icon-container
								=image_tag "minus.png", class: "icon"

			/ .functions
			/ 	.transpose
			/ 		= hidden_field_tag 'chord_id', @chord.id
			/ 		%ul
			/ 			%ul.function-text
			/ 				Auto-scroll
			/ 			%ul.transpose-auto#transpose-item
			/ 				.icon-container
			/ 					=image_tag "plus.png", class: "icon"
			/ 			%ul.transpose-auto#transpose-item
			/ 				.icon-container
			/ 					=image_tag "plus.png", class: "icon"
			/ 			%ul.transpose-auto#transpose-item
			/ 				.icon-container
			/ 					=image_tag "plus.png", class: "icon"


		.main
			.chordsLeft
				%pre
					= preserve do
						= @chord.content

	=render "main/footer-black"

:javascript
	$(document).ready(function() {
		var new_content = ChordsUtils.updateContent($("pre").text(), #{@valid_chords});
		$("pre").html(new_content);

		$(".transpose-up").on("click",function(){
			$("span.chord").text(function(i,txt) {
				$(this).text(ChordsUtils.transposeChord(txt, 1));
			});
		});


		$(".transpose-down").on("click",function(){
			$("span.chord").text(function(i,txt){
				$(this).text(ChordsUtils.transposeChord(txt, -1));
			});
		});

		$(".transpose-plus").click(function() {
			$("pre").css("font-size","+=1");
		});

		$(".transpose-minus").click(function() {
			$("pre").css("font-size","-=1");
		});

		$(".transpose-auto").click(function() {
			$('body,html').animate({scrollTop: $(document).height() }, 60000); 
		});



		$(".favorites.transpose-is-favorited").on("click", function() {
			var chord_id = parseInt($('#chord_id').val());
			if ($('.favorites.function-text').text().trim() === "Favorite") {
				$.ajax({
					type: "POST",
					url: '/favorites/create',
					data: {
						'favorite': {
							'chord_id': chord_id
						}
					},
					success: function() {
						$('.favorites.function-text').text("Un-Favorite");
						$('.icon-container-favorite').css("background-color", "rgba(103, 167, 255, 0.54)");
					}
				});
			} else {
				$.ajax({
					type: "DELETE",
					url: '/favorites/remove',
					data: {
						'favorite': {
							'chord_id': chord_id
						}
					},
					success: function() {
						$('.favorites.function-text').text("Favorite");
						$('.icon-container-favorite').css("background-color", "#c7c7c7");
					}
				});
			}
		});
	});