=render "main/header"

.title_big.section_medium-top-padding
	Your Chords

.section_results
	- @chords.each do |chord|
		.search_item
			= chord.title
			by
			= chord.artist.name
			.search_actions
				= link_to 'View', chord_path(:id => chord.id)
				= link_to 'Edit', edit_chord_path(:id => chord.id)
				.link_red
					= link_to 'Delete', chord, :method => :delete

=render "main/footer"
