.header.header-white
	.header-list
		%li#name
			= link_to 'Karis', '/'
		%li
			= link_to 'Top Chords', '/'
		%li
			= link_to 'Favorites', '/'
		%li
			= link_to 'Sign In', '/'


.section.section_vertical-align-middle
	.title_big
		BLOG
	.subtitle
		Help us make Karis better! 

	.description
		We want your feedback! If you have any suggestions or questions, feel free to reach out to James at jameshong623@gmail.com.

.bloglist
	.row
		.post
			.blog-title
				= link_to 'The Second Blog Post','https://karisapp.herokuapp.com/blog/'
			.blog-author
				By James Hong
			.blog-summary
				Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.

.bloglist
	.row
		.post
			.blog-title
				= link_to 'The First Blog Post','https://karisapp.herokuapp.com/blog/'
			.blog-author
				By James Hong
			.blog-summary
				Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.


.footer.footer-white
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/blog'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'