.header.header-white
	.header-list
		%li#name
			= link_to 'Karis', '/'
		%li
			= link_to 'Top Chords', '/'
		%li
			= link_to 'Favorites', '/'
		%li
			= link_to 'Sign In', '/'

.hero_about

.section.section_vertical-align-middle
	.title_big
		BETA
	.subtitle
		Help us make Karis better! 

	.description
		We want your feedback! If you have any suggestions or questions, feel free to reach out to James at jameshong623@gmail.com.

.section.section_vertical-align-middle
	.title_big
		Our Story
	.subtitle
		Karis was started out with a simple idea of making music more accessible to all.

	.description
		We saw that there wasn’t a website where someone anywhere around the world could search for their favorite song in any language. However, we want Karis to be more than just a database of songs. We want to build a community of music lovers. Our ultimate goal is to support talented, unknown artists by both raising funds and awareness.

.section.section_vertical-align-middle
	.title_big
		Our Team
	.subtitle
		Cool people who make Karis happen.

	.about-container
		.about-description
			.about-image.headshot_james
			.about-member
				James Hong
			.about-title
				Product/Front-End

		.about-description
			.about-image.headshot_phil
			.about-member
				Phil Kwon
			.about-title
				Backend Development

		.about-description
			.about-image.headshot_john
			.about-member
				John Kim
			.about-title
				Backend Development

		.about-description
			.about-image.headshot_eric
			.about-member
				Eric Jan
			.about-title
				Backend Development

.section.section_vertical-align-middle
	.title_big
		Any Questions?
	.subtitle
		You can reach out to us by emailing james@mastaphilis.com



.footer.footer-white
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'